<!-- views/events-show.hbs -->
<div class="col">
<div class=" mt-4 mb-3 w-75 mx-auto">
    <div class="col mb-3">
        <h3 class="text-center">{{event.title}}</h3>
        <div class="d-flex justify-content-center">
            <div class="text-muted small mx-3"><b>Event Date:</b> {{{prettyDate event.date}}}</div>
            <div class="text-muted small mx-3"><b>Last Updated:</b> {{{ simpleDate event.updatedAt }}}</div>
        </div>
    </div>
    <div class="">
        <img class="rounded w-50 d-inline float-left mr-3" src="{{event.imgUrl}}" alt="Event Image">
        <span class="align-top d-inline">{{event.desc}}</span>
        <br>
        <a class="float-right" href="/events/{{event.id}}/edit">Edit</a>
    </div>
</div>
<div class="mx-auto w-75">
    <div class="d-flex justify-content-between w-100 mt-3">
        <div><b>RSVPs ({{event.Rsvps.length}})</b></div>
        <a href="/events/{{event.id}}/rsvps/new" class="btn btn-primary btn-sm">RSVP</a>
    </div>

    <div class="list-group mt-2 w-100">
        {{#each event.Rsvps}}
            <div class="list-group-item clearfix">
                <div class="float-left">
                    {{this.dataValues.name}}
                </div>
                <div class="float-right">
                    <form class="form-inline" action="/events/{{../event.id}}/rsvps/{{this.dataValues.id}}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-link btn-sm">Remove</button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
</div>
</div>
