<!-- views/events-view.hbs -->
<div class="mx-auto mt-3">
    <h1 class="text-center">All Events</h1>
    <div class="d-flex flex-wrap">
        {{#each events}}
            <div class="card-wrapper">
                <div class="card m-2">
                    <img class="card-img-top small-img" src="{{this.imgUrl}}" alt="Event Image">
                    <div class="card-body pb-0">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text text-muted mb-2">{{{ prettyDate this.date }}}</p>
                    </div>
                    <div class="pt-0 border-top-0 bg-white card-footer">
                        <a href="/events/{{this.id}}" class="btn btn-primary">View</a>
                        <a href="/events/{{this.id}}/rsvps/new" class="btn btn-info ml-2">Rsvp</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
